locals {
  repository_overrides = {
    for file in fileset("${path.module}/../data/repositories", "*.yaml") :
    trimsuffix(file, ".yaml") => yamldecode(file("${path.module}/../data/repositories/${file}"))
  }

  repository_defaults = yamldecode(fileexists("${path.module}/../data/defaults.yaml") ? file("${path.module}/../data/defaults.yaml") : "{}")

  repository_presets = {
    for file in fileset("${path.module}/../data/presets", "*.yaml") :
    trimsuffix(file, ".yaml") => yamldecode(file("${path.module}/../data/presets/${file}"))
  }

  repository_preset_overrides = {
    for name, repo in local.repository_overrides : name => merge({}, [
      for preset in [try(repo.preset, null)] : local.repository_presets[preset]
      if preset != null
    ]...)
  }

  repositories = {
    for name, repo in local.repository_overrides : name => merge(
      { for key, value in local.repository_defaults : key => value if key != "pages" },
      local.repository_preset_overrides[name],
      { for key, value in repo : key => value if key != "preset" },
      {
        for key in ["actions", "security"] : key => merge(
          try(local.repository_defaults[key], {}), try(local.repository_preset_overrides[name][key], {}), try(repo[key], {})
        ) if contains(keys(local.repository_defaults), key) || contains(keys(local.repository_preset_overrides[name]), key) || contains(keys(repo), key)
      },
      {
        for key in ["pages"] : key => merge(
          try(local.repository_defaults[key], {}), try(local.repository_preset_overrides[name][key], {}), try(repo[key], {})
        ) if contains(keys(local.repository_preset_overrides[name]), key) || contains(keys(repo), key)
      }
    )
  }

  {% if organization %}
  membership = yamldecode(file("${path.module}/../data/membership.yaml"))

  teams = {
    for file in fileset("${path.module}/../data/teams", "*.yaml") :
    trimsuffix(file, ".yaml") => yamldecode(file("${path.module}/../data/teams/${file}"))
  }
  {% endif %}
}
