resource "github_team" "team" {
  for_each = local.teams

  name        = each.key
  description = try(each.value.description, "")
  privacy     = each.value.privacy
}


resource "github_team_members" "members" {
  for_each = local.teams
  
  team_id  = github_team.team[each.key].id

  dynamic "members" {
    for_each = each.value.membership.members

    content {
      username = members.value
      role     = "member"
    }
  }

  dynamic "members" {
    for_each = each.value.membership.maintainers

    content {
      username = members.value
      role     = "maintainer"
    }
  }
}
