{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "title": "Admin and Member Lists",
  "type": "object",
  "properties": {
    "admins": {
      "type": "array",
      "items": {
        "type": "string"
      },
      "default": [],
      "description": "List of admin users"
    },
    "members": {
      "type": "array",
      "items": {
        "type": "string"
      },
      "default": [],
      "description": "List of member users"
    }
  },
  "additionalProperties": false
}
